<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% load building_extras %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</head>
<body>
    <div class="wrapper">
			<div class="box">
				<div class="row row-offcanvas row-offcanvas-left">
					<!-- main right col -->
						<div class="column" id="main">
						<!-- top nav -->
							<div class="navbar navbar-blue navbar-static-top">
								<div class="navbar-header">
									<a  class="navbar-brand logo"><img src="{% static 'img/home.png' %}" class="home" width="35" height="35" align="left">SmartHome +</a>
								</div>
							</div>
							<div class="padding">
								<div class="full col-sm-12">
                        <!-- content -->
								</div>
								<div class="row">
									<div class="col-sm-4"> </div>
                         <!-- main col left -->
									<div class="col-sm-4">
										<div class="panel panel-default">
											<div class="panel-body">

                                <h3 class="text-center">Lista de inmuebles</h3>

                                {% if buildingList %}


                                    <table align="center" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th><Id</th>
                                                <th>Nombre</th>
                                                <th>Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for building in buildingList %}
                                                <tr>
                                                    <td>
                                                        <a href="/home_user/{{ building.id }}/sensors/">{{ building.id }}</a>
                                                    </td>
                                                    <td>{{ building.name }}</td>
                                                    <td>{{ status|get_building_status:building.id }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>
                                {% else %}
                                    <p>You don't have buildings.</p>
                                {% endif %}
                           </div>
										</div>
									</div>
								</div><!--/row-->
								<div class="row" id="footer">
								  <div class="col-sm-6"> </div>
								</div>
								<hr>
								<h4 class="text-center">
								<a href="www.uniandes.edu.co" target="ext">Uniandes</a>
								</h4>
								<hr>
							</div><!-- /col-9 -->
						</div><!-- /padding -->
				</div>
            <!-- /main -->

			</div>
		</div>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/scripts.js"></script>


</body>
</html>