<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <section class="content">
        <div class="formulario">
            <h1>Lista de sensores</h1>

            {% if sensorList %}
            <table align="center" border="1">
                <tr>
                    <td><b>Id</b></td>
                    <td><b>Description</b></td>
                    <td><b>Active?</b></td>
                    <td><b>Sensor type</b></td>
                    <td><b>Definition</b></td>
                    <td><b>Criticaly</b></td>
                  </tr>
                {% for sensor in sensorList %}

                  <tr>
                    <td>{{ sensor.id }}</td>
                    <td>{{ sensor.description }}</td>
                    <td>{{ sensor.state }}</td>
                    <td>{{ sensor.Sensor_type_id.name }}</td>
                    <td>{{ sensor.Sensor_type_id.State_definition_id.value }}</td>
                    <td>{{ sensor.criticaly }}</td>

                  </tr>
                {% endfor %}
            </table>
            {% else %}
                <p>You dont have sensors in your home.</p>
            {% endif %}

        </div>
    </section>

</body>
</html>